<!-- sidenav -->
<div class="overlay"></div>
<div class="sidenav_content">
  <div class="my_cart_banner">
    <button type="button" class="close side_nav_close">&times;</button>
    <div class="banner_content">
      <span><i class="fa fa-shopping-cart"></i></span><span>MY CART</span>
    </div>
  </div>
  <div class="bottom_div">
    <span class="total_div">Total</span><span class='total_div_count'>$14.00</span>
    <button class="btn check_button">Checkout</button>
  </div>
</div>
<!-- navigation -->
<nav class="navbar navbar-as">
  <div class="container-fluid">
    <div class="col-md-4 textcenter">
      <%= link_to "Amazing store", root_path, class: 'header-logo'%>
    </div>
    <div class="col-md-4">
      <ul class="nav navbar-nav">
        <li class="active"><a href=""><i class="fa fa-map-marker"></i><span class="ml-10">My city:</span><span class="my-city">Los Angeles</span></a></li>
      </ul>
      <ul class="pull-right nav navbar-nav">
        <li class="active"><a href=""><i class="fa fa-phone"></i><span class="ml-10">8 800 505-04-83</span></a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Shipping</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Company</a></li>
        <li><a href="">My account</a></li>
      </ul>
    </div>
  </div>
</nav> 
<!-- navigation end -->
<div class="bg-as">
  <div class="col-md-4">
    <div class="col-md-3"></div>
    <div class="col-md-9 all_category">
      <p>ALL CATEGORIES</p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-md-9">  
      <span class="fa fa-search search-box"></span><input type="text" placeholder="Search products by SKU or name" class="form-control customize-ins">
    </div>
    <div class="col-md-3">
      <button class="btn cart_button side_nav"><span><i class='fa fa-shopping-cart '></i></span>MY CART</button><button class="btn cart_count side_nav">10</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-4">
    <div class="left_side_menu">
      <p class="inactive">FACE</p>
      <p class="active">Creams & gels</p>
      <p>Patches</p>
      <p>Emulsions</p>
      <p>Toners</p>
      <p>Face cleansing</p>
      <p>Make up removal</p>
      <p>Scrubs</p>
      <p>Peeling</p>
      <p>Masks</p>
      <p class="inactive">BODY</p>
      <p class="inactive">FOOT</p>
      <p class="inactive">HANDS</p>
      <p class="inactive">HAIR</p>
      <p class="inactive">MAKEUP</p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="heading_section">
          <div class="col-md-6">
            <h4>Creams & gels</h4>
          </div>
          <div class="col-md-6">
            <p>Showing 60 of 392</p>
          </div>
        </div>
        <div class="filter_section col-md-12">
          <div class="col-md-3">BRAND : <span>ALL BRANDS</span></div>
          <div class="col-md-3">SKIN TYPE : <span>FOR ONLY SKIN</span></div>
          <div class="col-md-3">AGE : <span>30+</span> </div>
          <div class="col-md-3">SORT: <span>BY POPULARITY</span></div>
        </div>
      </div>
      <% @product.each do |p| %>
        <div class="col-md-3">
          <div class="panel panel-default" data-toggle="modal" data-target="#myModal<%="#{p.try(:id)}"%>">
            <div class="panel-body">
              <img src="<%="#{p.try(:image)}"%>" class="img img-responsive new-image">
              <h5 data-toggle="tooltip" title="<%="#{p.try(:name)}"%>"><%= truncate(p.try(:name), :length => 40)%></h5>
              <h5 class="product_amount">$<%= p.try(:amount)%></h5>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div id="myModal<%="#{p.try(:id)}"%>" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div class="review_section">
                  <h5 class="less_detail_link">Less details</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="col-md-6">
                  <img src="<%="#{p.try(:image)}"%>" class="img img-responsive">
                </div>
                <div class="col-md-6">
                  <p class="star"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></p>
                  <h4><%=p.try(:name)%></h4>
                  <p class="individual_product_amount">$<%= p.try(:amount)%></p>
                  <button class="btn add_to_cart">Add to cart</button>
                  <p><%=p.try(:descrption)%></p>
                </div>
                <div class="more_details">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><h5 class="more_detail_link">More details</h5></div>
                  <div class="col-md-4"></div>
                </div>
                <div class="more_detail_section">
                  <div>
                    
                  </div>
                  <div class="related_products">
                    <h4>Related Products</h4>
                    <% @product.limit(3).each do |p| %>
                      <div class="col-md-4">
                        <div class="panel panel-default" data-toggle="modal" data-target="#myModal<%="#{p.try(:id)}"%>">
                          <div class="panel-body">
                            <img src="<%="#{p.try(:image)}"%>" class="img img-responsive new-image">
                            <h5 data-toggle="tooltip" title="<%="#{p.try(:name)}"%>"><%= truncate(p.try(:name), :length => 30)%></h5>
                            <p class="product_amount">$<%= p.try(:amount)%></p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <h4>Reviews</h4>
                    <div class="review">
                      <div class="left">
                        <div class="review_left">
                          <div class="cicle_one">JP</div>
                        </div>
                        <div class="review_right">
                          <p><b>Julia Peterson</b></p>
                          <p>My skin has always been soft. But now it feels like a babies bottom. I love it and the smell is pleasent and not strong</p>
                          <p class="star"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></p>
                        </div>
                      </div>
                      <div class="left">
                        <div class="review_left">
                          <div class="cicle_two">JP</div>
                        </div>
                        <div class="review_right">
                          <p><b>Victoria Lee</b></p>
                          <p>Great, non irritating eye cream. Better tan dermatologist product costing 10x more! Absorbs easy and leaves area soft to the touch. Need very little so should last a long time. When I saw the bags vanish and an age spot fade, I immediately bought a spare!</p>
                          <p class="star"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>