<!-- sidenav -->
<div class="overlay"></div>
<div class="sidenav_content">
  <div class="my_cart_banner">
    <button type="button" class="close side_nav_close">&times;</button>
    <div class="banner_content">
      <span><i class="fa fa-shopping-cart"></i></span><span>MY CART</span>
    </div>
  </div>
  <div class="cart_list">
    <% if @cart.present? %>
      <% total = 0 %>
      <% @cart.each do |c| %>
        <% total +=  get_product(c).try(:amount) %>
        <div class="panel panel-default individual_cart">
          <div class="panel-body">
            <div class="wd-20"><img src="<%="#{get_product(c).try(:image)}"%>" class="cart-image"></div>
            <div class="wd-36 product_des"><%= truncate(get_product(c).try(:name), :length => 45)%></div>
            <div class="wd-30 product_amount">$<%= get_product(c).try(:amount)%></div>
            <div class="wd-14"><%= link_to 'X',remove_to_cart_path(product_id: get_product(c).try(:id)), class: 'remove_cart close'%></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="empty_msg">Your cart is empty</p>
    <% end%>
  </div>
  <div class="bottom_div">
    <span class="total_div">Total</span>
    <% if total.present? %>
      <span class='total_div_count'>$<%= total %></span>
    <% else%>
      <span class='total_div_count'>$0</span>
    <% end%>
    <button class="btn check_button">Checkout</button>
  </div>
</div>
<!-- navigation -->
<nav class="navbar navbar-as">
  <div class="container-fluid">
    <div class="col-md-4 textcenter">
      <%= link_to "Amazing store", root_path, class: 'header-logo'%>
    </div>
    <div class="col-md-4">
      <ul class="nav navbar-nav">
        <li class="active"><a href=""><i class="fa fa-map-marker"></i><span class="ml-10">My city:</span><span class="my-city">Los Angeles</span></a></li>
      </ul>
      <ul class="pull-right nav navbar-nav">
        <li class="active"><a href=""><i class="fa fa-phone"></i><span class="ml-10">8 800 505-04-83</span></a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Shipping</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Company</a></li>
        <li><a href="">My account</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- navigation end -->
<div class="bg-as">
  <div class="col-md-4">
    <div class="col-md-3"></div>
    <div class="col-md-9 all_category">
      <p>ALL CATEGORIES</p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-md-9">  
      <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' }, remote: true do |f| %>
      <span class="fa fa-search search-box"></span><%= f.text_field(:search_query,class: 'filterrific-periodically-observed form-control customize-ins', placeholder: 'Search products by SKU or name') %>
      <% end %>
    </div>
    <div class="col-md-3">
      <button class="btn cart_button side_nav"><span><i class='fa fa-shopping-cart '></i></span>MY CART</button><button class="btn cart_count side_nav"><%= @cart ? @cart.try(:count) : 0 %></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-4">
    <div class="left_side_menu">
      <p class="inactive">FACE</p>
      <p class="active">Creams & gels</p>
      <p>Patches</p>
      <p>Emulsions</p>
      <p>Toners</p>
      <p>Face cleansing</p>
      <p>Make up removal</p>
      <p>Scrubs</p>
      <p>Peeling</p>
      <p>Masks</p>
      <p class="inactive">BODY</p>
      <p class="inactive">FOOT</p>
      <p class="inactive">HANDS</p>
      <p class="inactive">HAIR</p>
      <p class="inactive">MAKEUP</p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="heading_section">
          <div class="col-md-6">
            <h4>Creams & gels</h4>
          </div>
          <div class="col-md-6">
            <p class="product_entry"><%= page_entries_info @product %></p>
          </div>
        </div>
        <div class="filter_section col-md-12">
          <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' }, remote: true do |f| %>
          <div class="col-md-4">PRODUCT TYPE : <span><%= f.select(:with_product_type_id,@filterrific.select_options[:with_product_type_id],{ include_blank: '- Any -' }) %></span></div>
          <div class="col-md-4">SORT BY: <span><%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %></span></div>
          <% end %> 
        </div>
      </div>
      <div class="product-list">
        <%= render partial: "list", locals: {products: @product} %>
      </div>
    </div>
  </div>
</div>
<!-- js -->
<script type="text/javascript">
  // more_detail show
  $('.more_detail_link').on('click',function(){
    $('.less_detail_link').css("display", "block");
    $('.more_detail_section').css("display", "block");
    $('.more_detail_link').css("display", "none");
  });
    // more_detail hide
    $('.less_detail_link').on('click',function(){
      $('.more_detail_link').css("display", "block");
      $('.more_detail_section').css("display", "none");
      $('.less_detail_link').css("display", "none");
    });
  // side_nav
  $('.side_nav').on('click',function(){
    $('.overlay').css("display","block");
    $('.sidenav_content').css("display","block");
    $('.sidenav_content').css("right","0%");
  });
  $('.side_nav_close').on('click',function(){
    $('.overlay').css("display","none");
    $('.sidenav_content').css("display","none");
    $('.sidenav_content').css("right","-25%");
  });
  $('.overlay').on('click',function(){
    $('.overlay').css("display","none");
    $('.sidenav_content').css("display","none");
    $('.sidenav_content').css("right","-25%");
  });
</script>